* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    /*background-color: #e1eae9;*/
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.sep {
    width: 0px;
    height: 100%;
    border: solid 1px #e1eae9;
}

.clear {
    clear: both;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#wrapper {
    width: 80%;
    margin: 0 auto 0 auto;
}

#logo {
    width: 100%;
    height: 255px;
    background-image: url(../images/logo.jpg);
    background-size: cover;
}

#sidebar {
    float: left;
    width: 25%;
    height: 100%;
}

#content {
    float:right;
    width: 75%;
    height: 100%;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
    margin: 0 5%;
}