{% extends "base.html" %}

{% block it_act %}active{% endblock %}

{% block stylesheets %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "css/itinerario.css" %}" />
{% endblock %}

{% block content %}
<h3>Programa:</h3>
<table>
    <thead>
        <tr>
            <th class="horario-cell">Horario</th><th class="actividad-cell">Actividad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="horario-cell">9:00am - 9:30am</td><td class="actividad-cell">Formalización de la inscripción</td>
        </tr>
        <tr>
            <td class="horario-cell">9:31am - 11:00am</td><td class="actividad-cell">Calentamiento de los participantes</td>
        </tr>
        <tr>
            <td class="horario-cell">11:01am - 12:30pm</td><td class="actividad-cell">Almuerzo - Charlas de patrocinantes</td>
        </tr>
        <tr>
            <td class="horario-cell">12:31pm - 5:30pm</td><td class="actividad-cell">Competencias</td>
        </tr>
        <tr>
            <td class="horario-cell">5:30pm - 6:00pm</td><td class="actividad-cell">Premiaciones - cierre</td>
        </tr>
    </tbody>
</table>
{% endblock %}
