<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static from staticfiles %}
        <link rel="stylesheet" href="{% static "css/layout.css" %}" />
        <script type="text/javascript" src="{% static "js/jquery-1.8.2.js" %}"></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&region=VE"></script>
        <title>
            Maratones Super Regionales ACM-ICPC 2012 - {% block title %} Bienvenido!{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="wrapper" >
            <div id="logo-wrapper">
                <div id="logo"></div>
            </div>
            <div id="sidebar">
                <h3>Patrocinantes:</h3>
                {% block sidebar %}
                <ul>
                  <li>Vicerrectorado administrativo USB</li>
                  <li>Dirección de servicios USB</li>
                  <li>Departamento de computación y TI</li>
                  <li>Laboratorio Docente de Computacion</li>
                  <li>CEIC</li>
                  <li>Funindes (tentativo)</li>
                </ul>
                {% endblock %}
            </div>
            <div id="content">
                <div id="menu">
                    <ul>
                        <li class="{% block e_act %}{% endblock %}"><a href="{% url maratones.views.home %}">El Evento</a></li>
                        <li class="{% block u_act %}{% endblock %}"><a href="{% url maratones.views.ubicacion %}">Ubicación</a></li>
                        <li class="{% block it_act %}{% endblock %}"><a href="{% url maratones.views.itinerario %}">Itinerario</a></li>
                        <li class="{% block in_act %}{% endblock %}"><a href="{% url maratones.views.inscripcion %}">Inscripciones</a></li>
                        <li class="{% block l_act %}{% endblock %}"><a href="{% url maratones.views.home %}">Login</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div id="inner-content-wrapper">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="clear"></div>
            <div id="footer-wrapper">
                <div id="footer">
                    <p class="p">Desarrollado por JD-CEIC 2012-2013 ©2012</p> | 
                    <p class="p">
                        <a href="http://usb.ve/">
                            <img id="usb-logo" alt="usb" title="usb" src="{% static "images/usb-logo.png" %}"/>
                                 USB
                        </a>
                    </p> |
                    <p class="p">
                        <a href="http://icpc.baylor.edu/">
                            <img id="acmicpc-logo" alt="ACM-ICPC" title="ACM-ICPC" src="{% static "images/acmicpc-logo.png" %}"/>
                                 ACM-ICPC
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
